.greetings {
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 47px;
    color: #8e8d8a;
}

.name {
    color: #3aafa9  ;
    font-style: normal;
    font-weight: 600;
    font-size: 75px;
    line-height: 125px;
}

.intro-description {
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 47px;
    text-align: left;
    color: #45433E  ;
}
