.name {
    color: black;
    font-weight: 600;
    font-size: 180px;
    text-align: center;
}
.keyword {
    color: #eeb900;
    font-weight: bold;
}
.intro-description {
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    color: #45433E;
}

.intro{
    height: 100vh;
}

@media screen and (max-width: 768px){
    .name{
        text-align: center;
        font-size: 65px;
    }

    .intro-description{
        text-align: center;
        font-size: 20px;
    }
    #intro{
        width: 100%;
    }
}