.title {
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 83px;
    color: black;
    text-align: left;
}

#about-me{
    height: 100vh;
}

.bar{
    border-bottom: 1px solid black;
}

.about-description, .tech-skills {
    text-align: left;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 39px;
    color: #45433E;
}

.image {
    border-radius: 3px;
}

.sub-title {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 83px;
    color: #eeb900;
}


@media screen and (max-width: 768px){
    .title{
        font-size: 30px;
        text-align: center;
    }

    .about-description, .tech-skills {
        font-size: 20px;
        color: #45433E;
        text-align: center;
    }

    #about-me{
        width: 90%;
        height: 100%;
    }
}