.title {
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 83px;
    color: #17252a;
    text-align: left;
}

.bar{
    border-bottom: 1px solid #17252a;
}

.about-description, .tech-skills {
    text-align: left;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 39px;
    color: #45433E;
}

.image {
    border-radius: 3px;
}

.sub-title {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 83px;
    color: #2b7a78;
}