.badge {
    background: rgba(69, 67, 62, 0.45);
    width: 70%;
}

.btn-outline-dark {
    color: #45433E;
    font-size: 30px;
}

.btn-outline-dark:hover {
    color: #E5E5E5;
}

.badge-title {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
}

.badge-description{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    text-align: center;
    color: #ffffff;
}

@media screen and (max-width: 768px){
    .badge{
        width: 100%;
    }

    .badge-description, .badge-title {
        white-space: normal;
    }
}