.navbar-element{
    text-decoration: none;
    color: #959794;
    font-size: 18px;
}

.navbar-element:hover{
    color: #E5E5E5;
    cursor: pointer;
}

.btn-outline-dark {
    color: #959794;
    font-size: 15px;
}

.btn-outline-dark:hover {
    color: #E5E5E5;
}
