.navBar {
    background: #ffffff;
    padding: 15px 0;
    box-shadow: 0 10px 15px 5px rgba(0,0,0,0.02);
    transition: all 250ms ease-in-out;
}

.navBar.collapsed {
    background: #ffffff;
    padding: 20px 0;
    box-shadow: none;
}