.navbar-element{
    text-decoration: none;
    color: #8e8d8a;
    font-weight: 500;
    font-size: 18px;
}

.navbar-element:hover{
    color: #eeb900;
    cursor: pointer;
    font-size: 20px;
}

.btn-outline-dark {
    color: #959794;
    font-size: 15px;
}

.btn-outline-dark:hover {
    color: #E5E5E5;
}


.navbar {
    height: 7%;
    /*border: 1px solid white;*/
}