.project {
    background: #eeb900;
    width: 80%;
    color: #E5E5E5;
    border-radius: 5px;
}

.project-title {
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    color: #E5E5E5;
}

@media screen and (max-width: 414px){
    .project{
        width: 95%;
    }
}