.project {
    background: #eeb900;
    width: 80%;
    color: #ffffff;
    border-radius: 5px;
}

.project-title {
    font-weight: 600;
    font-size: 25px;
}

.project-description{
    font-size: 20px;
    font-weight: lighter;
}

@media screen and (max-width: 414px){
    .project{
        width: 95%;
    }
}